/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  CSS Reset ends
*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {

  /*primary colors*/
  --dark-cyan: hsl(185, 75%, 39%);
  --heading-blue: hsl(229, 23%, 23%);
  --paragraph-blue: hsl(227, 10%, 46%);
  --border-blue: hsla(227, 10%, 46%, 0.4);

  /*neutral colors*/
  --white: hsl(0, 0%, 100%);
  --black: hsl(0deg, 0%, 0%);
  --gray-blue: hsl(0, 0%, 59%);

  /*font-weights*/
  --normal: 400;
  --bold: 700;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  background-color: var(--dark-cyan);
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  max-width: 21.875rem;
  margin: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--white);
  background-image: url(./images/bg-pattern-card.svg);
  background-position: top;
  background-size: 21.875rem 8.75rem;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 5.469rem;
  padding-bottom: 1.25rem;
}

.profile__image {
  width: 100%;
  max-width: 6.563rem;
  height: auto;
  border-radius: 50%;
  padding: 0.313rem;
  margin-bottom: 1.25rem;
  background-color: var(--white);
}

.profile__identity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.identity__name {
  font-size: 1.125rem;
  font-weight: var(--bold);
  letter-spacing: 0.03rem;
  color: var(--heading-blue);
}

.identity__age {
  font-size: 1.125rem;
  color: var(--paragraph-blue);
}

.profile__location {
  font-size: 0.813rem;
  color: var(--paragraph-blue);
}

.profile__stats {
  width: 100%;
  padding: 1.5rem 1.35rem;
  border-top: 0.063rem solid var(--border-blue);
}

.stats {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;  
}

.stats__heading {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  font-weight: var(--bold);
  color: var(--black);
}

.stats__paragraph {
  font-size: 0.725rem;
  font-weight: var(--normal);
  letter-spacing: 0.131rem;
  color: var(--paragraph-blue);
}

@media (hover: hover) {

  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.01);
  }
}
